@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

body {
  height: 300vh;
  font-family: "Nunito", sans-serif;
}

.navbar {
  background: #ffffff;
  width: 100%;
  padding: 20px 0;
  }

  .content {
  max-width: 1300px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
  }

  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  .home {
    font-weight: 700;
    color: #333;
  }

  .nav-links a:hover {
    color: #333;
  }

  .nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: width 0.3s;
  }

  .nav-links a:hover::after {
    width: 100%;
  }


  .dropdown-content {
    margin-top: 1px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1;
    border-radius: 6px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown-content a:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 14px;
  }

  .dropdown-content a:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .isi {
    display: flex;
    flex: auto;
  }
  .massage {
    font-family: Mattone;
    font-size: 40px;
    margin-left: 80px;
    margin-right: 10px;
    max-width: 60%;
    color: #333;
    line-height: 1.6;
    margin-top: 80px;
  }

  .white-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 80px;
    max-width: 35%;

  }


  @media (max-width: 1023px) {
    .massage {
      font-size: 35px;
      
      margin-left: 60px;
      max-width: 70%;
    }
  }
  @media (max-width: 919px) {
    .massage {
      font-size: 33px;
      margin-left: 40px;
      margin-right: 10px;
      max-width: 80%;
    }

    .white-box {
      margin-left: 20px;
      margin-right: 40px;
      max-width: 40%;
    }
  }

  @media (max-width: 868px) {
    .navbar, .content, .nav-links, .nav-links a, .dropdown-content, .dropdown-content a, .isi, .massage, .white-box {
      display: none;
    }
  }
